absl-py==2.1.0
adam==0.0.0.dev0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
altair==5.2.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.3.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
auto-py-to-exe==2.42.0
Babel==2.13.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
blinker==1.9.0
bottle==0.12.25
bottle-websocket==0.2.9
brazilcep==6.2.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
cookiecutter==2.6.0
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.8
dnspython==2.6.1
docxcompose==1.4.0
docxtpl==0.16.7
Eel==0.16.0
email_validator==2.1.1
et-xmlfile==1.1.0
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.3
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.1.0
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
flet==0.22.1
flet-core==0.22.1
flet-runtime==0.22.1
fonttools==4.46.0
frozenlist==1.5.0
fsspec==2024.10.0
future==0.18.3
gast==0.6.0
gensim==4.3.3
# gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.42
google-pasta==0.2.0
googlemaps==4.10.0
greenlet==3.0.3
grpcio==1.67.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
idna==3.4
imageio==2.36.0
importlib-metadata==7.0.1
ipykernel==6.29.3
ipython==8.22.2
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.4.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.6.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
lxml==4.9.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.4.3
mysql-connector-python==8.2.0
namex==0.0.8
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.10.0.84
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.3
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
parso==0.8.3
pefile==2023.2.7
Pillow==10.1.0
platformdirs==3.11.0
plotly==5.19.0
prompt-toolkit==3.0.43
propcache==0.3.1
protobuf==4.21.12
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.0
PyAutoGUI==0.9.54
pycep==1.0.4
pycep-correios==5.2.0
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.8.1b0
PyGetWindow==0.0.9
Pygments==2.17.2
# pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip#sha256=4325fc6652bc41ed3814c7f9c42ea50e6116867d54b5f7bebef43380ad8a5451
pyinstaller-hooks-contrib==2023.12
PyJWT==2.8.0
pymongo==4.11.1
PyMsgBox==1.0.9
pyparsing==3.1.1
pyperclip==1.8.2
pypng==0.20220715.0
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-barcode==0.15.1
python-dateutil==2.8.2
python-docx==1.0.1
python-dotenv==1.0.1
python-multipart==0.0.9
python-slugify==8.0.4
pytweening==1.0.7
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==25.1.2
qrcode==7.4.2
referencing==0.33.0
regex==2024.11.6
repath==0.9.0
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.0
rpds-py==0.18.0
scikit-image==0.24.0
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
secure-smtplib==0.1.1
selenium==4.16.0
setuptools==75.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.37.2
streamlit==1.31.1
sympy==1.13.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
tifffile==2024.9.20
tk==0.1.0
tkcalendar==1.6.1
toml==0.10.2
toolz==0.12.1
torch==2.5.1
torchvision==0.20.1
tornado==6.4
tqdm==4.67.1
traitlets==5.14.1
trio==0.24.0
trio-websocket==0.11.1
ttkbootstrap==1.10.1
tweepy==4.15.0
twilio==7.17.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
ujson==5.10.0
urllib3==2.0.7
uvicorn==0.29.0
validators==0.22.0
viacep==1.3.1
virtualenv==20.25.0
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wheel==0.42.0
whichcraft==0.6.1
wrapt==1.15.0
wsproto==1.2.0
yarl==1.19.0
zeep==4.2.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
